extends ./../layouts/main-layout.pug

block content
    .functionTabsContainer
      .btn-group(role="group" aria-label="Basic example")
        button.active.btn(type="button" data-target='detail') Detail
        button.btn(type="button" data-target='password') Password
        button.btn(type="button" data-target='theme') Theme

        <div class="btn-group" role="group">
          <button id="btnGroupDrop1" class="btn dropdown-toggle" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-target='accountSetting'> Account            
          </button>
          <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
            //- <a class="dropdown-item" href="#">Dropdown link</a>
            <button class="dropdown-item" href="#" data-target='deleteMyAccount'>Delete Account</button>
          </div>
        </div>

    if userLoggedIn.toBeDeleted === true
      <!-- Rendered by mePage.pug -->
      .accountDeleteCountDown
          p Time to delete account:
          p.timer

    .functionsContainer

        .function_item.functionsItem_detail.row.active

            .userImageContainer
                .userCoverImgBackground
                    img.coverImg(src= `${userLoggedIn.coverPhoto}`)
                .userImageLowerBlank
                    .userProfileImageBackground
                        img.profileImg(src= `${userLoggedIn.profilePic}`)
                

            //- https://getbootstrap.com/docs/4.0/components/forms/#horizontal-form
            form
                .form-group.row.col-sm-10.col-md-9.col-lg-9
                    label.col-sm-2.col-md-3.col-lg-3.col-form-label(for='myEmail') Email
                    .inputField.col-sm-10.col-md-8.col-lg-8
                        input#myEmail.form-control.no-border(type='email' placeholder='user name' value=`${userLoggedIn.email}` disabled)

                .form-group.row.col-sm-10.col-md-9.col-lg-9
                    label.col-sm-2.col-md-3.col-lg-3.col-form-label(for='myUserName' ) User Name
                    .inputField.col-sm-10.col-md-8.col-lg-8
                        input#myUserName.form-control.no-border(type='text' placeholder='' value=`${userLoggedIn.userName}` disabled)

                .form-group.row.col-sm-10.col-md-9.col-lg-9
                    label.col-sm-2.col-md-3.col-lg-3.col-form-label(for='myRole') Role
                    .inputField.col-sm-10.col-md-8.col-lg-8
                        input#myRole.form-control.no-border(type='email' placeholder='user role' value=`${userLoggedIn.role}` disabled)

                .form-group.row.col-sm-10.col-md-9.col-lg-9
                    label.col-sm-2.col-md-3.col-lg-3.col-form-label(for='myRegisterDate' ) Register Date
                    .inputField.col-sm-10.col-md-8.col-lg-8
                        input#myRegisterDate.form-control.no-border(type='text' placeholder='' value=`${userLoggedIn.createdAt}` disabled)


                //- ↓↓↓ Save it for later

                //- fieldset.form-group
                //-   .row
                //-     legend.col-form-label.col-sm-2.pt-0 Radios
                //-     .col-sm-10
                //-       .form-check
                //-         input#gridRadios1.form-check-input(type='radio' name='gridRadios' value='option1' checked='')
                //-         label.form-check-label(for='gridRadios1')
                //-           | First radio
                //-       .form-check
                //-         input#gridRadios2.form-check-input(type='radio' name='gridRadios' value='option2')
                //-         label.form-check-label(for='gridRadios2')
                //-           | Second radio
                //-       .form-check.disabled
                //-         input#gridRadios3.form-check-input(type='radio' name='gridRadios' value='option3' disabled='')
                //-         label.form-check-label(for='gridRadios3')
                //-           | Third disabled radio
              
                //- .form-group.row
                //-   .col-sm-2 Checkbox
                //-   .col-sm-10
                //-     .form-check
                //-       input#gridCheck1.form-check-input(type='checkbox')
                //-       label.form-check-label(for='gridCheck1')
                //-         | Example checkbox

                .form-group.row
                  .col-sm-10
                    button.btn.btn-primary.submitUpdatedMeInfo(type='submit') Update


        .function_item.functionsItem_password.col.col-12
            form
                .form-group.row.col.col-12
                    label.col-4.col-form-label(for='myCurrentPassword') Current Password
                    .inputField.col.col-8
                        input#myCurrentPassword.form-control.no-border(type='password' placeholder='' autocomplete='no')

                .form-group.row.col.col-12
                    label.col.col-4.col-form-label(for='myNewPassword') New Password
                    .inputField.col.col-8
                        input#myNewPassword.form-control.no-border(type='password' placeholder='new password between 5 to 20 characters' autocomplete='password')


                .form-group.row.col.col-12
                    label.col.col-4.col-form-label(for='myNewPasswordConfirm' ) Confirm Password
                    .inputField.col.col-8
                        input#myNewPasswordConfirm.form-control.no-border(type='password' placeholder='type your new password again' autocomplete='password')

                button.btn.btn-primary Update My Password


        .function_item.functionsItem_theme.col.col-12
            form
                button.btn.btn-secondary(disabled) Under development


        .function_item.functionsItem_accountSetting.col.col-12
            h4 Account setting

        <!-- Rendered by mePage.pug -->

        if userLoggedIn.role === 'user' && userLoggedIn.toBeDeleted === true
            .function_item.functionsItem_deleteMyAccount.col-lg-8.col-md-10.col
                button.btn.btn-primary.deleteMyAccountBtn(type='button' data-toggle="modal" data-target="#cancelDeleteModal") Cancel Delete 

        else if userLoggedIn.role === 'user'
            .function_item.functionsItem_deleteMyAccount.col-lg-8.col-md-10.col
                button.btn.btn-primary.deleteMyAccountBtn(type='button' data-toggle="modal" data-target="#deleteAccConfirmModal") Delete My Account 

        else
            .function_item.functionsItem_deleteMyAccount.col-lg-8.col-md-10.col
                button.btn.btn-primary.deleteMyAccountBtn(type='button' data-toggle="modal" data-target="" title="only normal user can delete his/her" disabled) Delete Account



        .modal#deleteAccConfirmModal.fade.deleteAccount(tabindex='-1' role='dialog' aria-labelledby="deleteAccModeLabel" aria-hidden="true")
          .modal-dialog
            .modal-content
              .modal-header
                h5.modal-title#deletePostModalLabel Please read before delete account
                button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
              .modal-body
                p By entering 
                  span.noticeText current password and
                  span clicking
                  span.noticeText "Confirm"
                    | button
                h4 Your account will be marked as 'toBeDeleted' in database and then will be deleted by system in 10 minutes
                h5 This operation 
                  span.noticeText can be canceled within 10 minutes. 
                h5 You can use the same user name to register again if it's not taken
                form
                  label
                  input#passwordForDeleteAcc.passwordInput(type='password' placeholder='Enter Password To Proceed' autocomplete='no')                
              .modal-footer
                button.btn.btn-secondary(type='button' data-dismiss='modal') Close
                button#confirmDeleteAccBtn.btn.btn-primary(type='button' disabled) Confirm


        .modal#cancelDeleteModal.fade.deleteAccount(tabindex='-1' role='dialog' aria-labelledby="cancelDeleteModalLabel" aria-hidden="true")
          .modal-dialog
            .modal-content
              .modal-header
                h5.modal-title#cancelDeleteModalLabel Please enter password to cancel delete
                button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
              .modal-body
                form
                  label
                  input#passwordForCancelDeleteAcc.passwordInput(type='password' placeholder='Enter Password To Proceed' autocomplete='no')                
              .modal-footer
                button.btn.btn-secondary(type='button' data-dismiss='modal') Close
                button#confirmCancelDeleteAccBtn.cancelBtn.btn.btn-primary(type='button' disabled) Confirm


//- block scripts
//-     script(src="/js/profile.js")